body {
    font-family: "Lato",sans-serif,"google";
    background-color: #b3b3b3;

}

footer {
    background-color: #4d4d4d;
}

.imagebox {
    width: inherit;
}

.col-md-4 {
    text-align: center;
}

.mainimage {

}

.logo {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 20%;
    padding: 20px;
}

.dark {
    background-color: #999999;
}

p {
    font-size: 14pt;
}

nav {
    padding-top: 15px;
    font-size: 25px;
    width: 100%;
    height: 80px;
    background-color: #282828;
    z-index: 10;
    opacity: 0.95;
}


.carousel-caption {
    top: 40px;
    right: 0px;
    left: auto;
    width: 40%;

    height: 50px;;
    padding: 10px;
    background-color: rgba(191, 191, 191, 0.8);
    color: black;
}


.row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.carousel-inner {
    max-height: 900px !important;
}
