<!DOCTYPE html>
<html>
    <head>
        <!-- Including Bootstrap  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <!-- Inlcude static css file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/style.css' %}" type="text/css" />

        <meta charset="utf-8">
        <title>This is the title</title>
    </head>
    <body>

        <nav class="nav justify-content-center">
          <a class="nav-link active" href="#">ÜBER UNS</a>
          <a class="nav-link" href="#">REFERENZEN</a></a>
          <a class="nav-link" href="#">KONTAKT</a>
          <a class="nav-link" href="#">LINK</a>
        </nav>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for image in images %}
                    {% if image == images.0 %}

                        <div class="carousel-item active">
                            <img class="d-block img-fluid mainimage" src="{{ image.ImageSource.url }}" alt="{{ image.image.alt }}">
                            {% if image.caption %}
                            <div class="carousel-caption">
                                   <h3>{{ image.caption }}</h3>
                            </div>
                            {% endif %}
                        </div>

                    {% else %}

                        <div class="carousel-item">
                            <img class="d-block img-fluid mainimage" src="{{ image.ImageSource.url }}" alt="{{ image.image.alt }}">

                            {% if image.caption %}
                            <div class="carousel-caption">
                                   <h3>{{ image.caption }}</h3>
                            </div>
                            {% endif %}
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>



        {% block content %}

        {% endblock %}



        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="footer-logo img-fluid" src="{% static 'mainsite/logo.png' %}" />
                    </div>
                    <div class="col-md-8">
                        <h4>Kirchgasse 13 / 39020 Eyrs / 0473 666000</h4>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
