{% extends "mainsite/base.html" %}

{% block content %}

    {% load static %}
    <img class="logo" src="{% static 'mainsite/logo.png' %}" />
    <div class="jumbotron dark">
        <div class="container">
        <p>
            {{ siteInfo.Description }}
        </p>
    </div>
    </div>


    <div class="container">

        <div class="row">
          <div class="col-md-4">
              <img class="imagebox" src="{{ siteInfo.image1.url }}"  alt="Card image cap">
              <h4>{{ siteInfo.TitleBox1 }}</h4>
              <p>{{ siteInfo.DescriptionBox1 }}</p>
          </div>
          <div class="col-md-4">
              <img class="imagebox" src="{{ siteInfo.image1.url }}"  alt="Card image cap">
              <h4>{{ siteInfo.TitleBox2 }}</h4>
              <p>{{ siteInfo.DescriptionBox2 }}</p>
          </div>
          <div class="col-md-4">
              <img class="imagebox" src="{{ siteInfo.image1.url }}"  alt="Card image cap">
              <h4>{{ siteInfo.TitleBox3 }}</h4>
              <p>{{ siteInfo.DescriptionBox3 }}</p>
          </div>
        </div>
    </div>

{% endblock %}
